doctype html
html
  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title fedtucvoleibol
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto+Condensed')

    link(href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css", rel="stylesheet")
    link(href="/styles/main.min.css", rel="stylesheet")

    script(src='/js/vendors.js')

  //- HTML BODY
  body
    #root
    script(src='/js/main.js')
