body {
  background-color: #FAFAFA !important;
}

:not(.icon) {
  font-family: 'Roboto Condensed', Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

.ui.inverted.attached.segment {
  border: 0px !important;
}
#root {
  min-height: 100vh;
}
.ui.inverted.segment a {
  color: #FFFFFF;
}
.ui.fluid.container {
  width: 100% !important;
  margin: 0 !important;
}
.ui.fluid.text.container {
  margin: auto !important;
}
.ui.stackable.grid>.row>.wide.column.notpadded {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ui.item.menu .item.dropdown {
  padding-left: 1em !important;
}
